// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Fonts and Colors */

$fleurOrange: #E96936;
$fleurLightorange: #FD7D50;

@font-face {
    font-family: 'Nexa Bold';
    src: url('NexaBold.otf'); 
}

@font-face {
    font-family: 'Nexa Light';
    src: url('NexaLight.otf');
}

/* BG and Hand */

.bg{
  background: url(bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.bg-content{
	margin-top: 80px;
}

.bg-phone{
	text-align: center;
	margin-top: 15px	
}

.phone {
	width: 100%;
	max-width: 325px;

}

/* Logo & Tag */

.fleur-logo{
	width: 85px;
}

.tagline{
	font-family: 'Nexa Light';
	font-size: 2.5em;
	color: $fleurOrange;
}

.catch-phrase{
	font-family: 'Nexa Light';
	font-size: 3em;
	padding: 15px 10px 10px 10px;
	line-height: 45px;
	color: #313131;
}

/* Waitlist Form */

.ticker-form{
	padding-bottom: 50px;
	font-family: 'Nexa Light';
	font-size: 36px;
	color: #FFFFFF;
}

.submit-beta{
	background: $fleurOrange;
	border: none;
	color: white;
	padding: 20px;
	font-family: 'Nexa Light';
	font-size: 22px;
	border-radius: 3px;
	max-width: 350px;
	width: 90%;
}

.submit-beta:hover{
	background: $fleurLightorange;

}

input#beta_email{
	height: 71px;
	width: 90%;
	max-width: 350px;
	margin-bottom: 15px;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 0px 10px;
	font-size: 22px;
	font-family: 'Nexa Light';
	color: #777;
}

input:focus {
	outline: solid;
	outline-color: $fleurLightorange;
	outline-width: 1px;
}

span.position{
	color: $fleurOrange;
}

.message{
	font-size: 14px;
	color: #313131;
	font-family: 'Nexa Bold';
	display: block;
}
/* Sharing Section */

.sharing-icons{
	margin-bottom: 30px;
	width: 100%;
	max-width: 920px;
}

.sharing-icons a{
	color: white !important;
	text-decoration: none;
	font-family: 'Nexa Light';
	font-size: 18px;
}

.facebook-share{
	background: #3b5998;
	width: 75%;
	max-width: 250px;
	border-radius: 3px;
	padding: 20px 20px;
	cursor: pointer;
	margin-bottom: 15px;
}

.facebook-share:hover{
	background: #37528c;
}

.twitter-share {
	background: #1daee3;
	width: 75%;
	max-width: 250px;
	border-radius: 3px;
	padding: 20px 20px;
	cursor: pointer;
	margin-bottom: 15px;
}

.twitter-share:hover {
	background:#1ca4d6;
}

#fb-popup{
	display: none;
}

#twitter-popup{
	display: none;
}


/* HomePage Media Query */

@media (max-width: 600px) {
  .catch-phrase {
    font-size: 2em;
    line-height: 35px;
  }

  .bg-content{
  	margin-top: 20px;
  }
}