$('#fb-popup').attr('href','https://www.facebook.com/dialog/feed?app_id=1425543210991444&display=popup&caption=Get%20on%20the%20wait%20list%20for%20FLEUR!&link=http%3A%2F%2Ffleurapp.com/?refid=<%=@beta.viral%>&redirect_uri=http://fleurapp.com')
$('#fb-popup').show()
$('#twitter-popup').attr('href','http://twitter.com/share?url=http%3A%2F%2Ffleurapp.com/?refid=<%=@beta.viral%>&text=Get%20on%20the%20waitlist%20for%20FLEUR!%20The%20more%20the%20merrier!%20@fleurapp')
$('#twitter-popup').show()
$('div.ticker-form').empty().append('Awesome! Your spot in line is: <span class="position"><%= @beta.position %></span>')
